<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link th:href="@{css/index.css}">

<style>
	.inter-img:hover {
		opacity:.5;
		transition:.5s;
	}
	.rel {
		 position: relative;
 
 
 
	}
	.abs {
		position: absolute;
  		top: 200px;
  		right:10;
  		left:70px;
  		
	}
	
	.mister-button {
		display:none;
	}
	
	.style-img {
		border:5px solid pink;
	}

	.title {
		font-size:17px;
	}
</style>

<script>
	$(document).read(()=> {
		$(".inter-img").hover(()=>{
			alert("Hello world");
			$(".mister-button").css("display","show");
		},()=> {
			$("mister-button").css("display","hide");
		});
		
	});
</script>

<title>IMDB rating app</title>
</head>
<body>
<h1 align = "center">Welcome to imdb rating app</h1>
<!-- <div class = "rel inter-img">
	<img th:src = "${jsonObj.get('image').asText()}" width = "240px" height = "440px">
	<button id= "button" type = "button" class = "abs mister-button">Click for priview</button>
</div> -->
<div class = "row">
	<div class = "col-sm-3">
		<img th:src = "${jsonObj.get('image').asText()}" width = "240px" height = "440px" class = "style-img">
	</div>
	<div class = "col-sm-6">
		<div class = "row">
			<h3>Title: </h3><p class = "title" th:text="${jsonObj.get('title').asText()}"></p>
			<br><h3>PLot : </h3><p th:text = "${jsonObj.get('plot').asText()}">
			<h3>Actors :</h3> <p th:text = "${jsonObj.get('stars').asText()}"></p>
			<h5>Movie rating :</h5><p th:text="${jsonObj.get('ratings').asText()}"></p>
			
		</div>
	</div>

</div>

</body>
</html>